* {
  font-family: 'Roboto', sans-serif;
}
html, body {
  height: 100%;
}

#wrapper {
  height: calc(100% - 310px);
}

#header {
  background-image: url(/resources/images/header.jpg);
  background-size: contain;
  height: 190px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 20px 0 0 20px;
}

#header h1 {
  color: #4285F4;
  font-size: xxx-large;
  text-shadow: 3px 3px 7px #0000005c;
  text-transform: uppercase;
}

#header p {
  color: #34A853;
}


/* Style tab links */
#nav {
  display: flex;
  background-color: #999;
}

.tablink {
  background-color: #999;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
}

.urg {
  background-color: red;
  margin-left: 40%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding-top: 10px;
  height: 100%;
  width: 1000px;
  margin: auto;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: white;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
