* {
	font-family: "Roboto Condensed";
	margin: 0;
}

body {
	width: 200px;
}

#patient {
	font-size: 0.8em;
	border-bottom: solid;
	border-bottom-width: thin;
	text-transform: capitalize;
}

#signature {
	font-size: 0.8em;
	border-top: solid;
	border-top-width: thin;
	padding-top: 5px;
}


#patient .id, #signature .timestamp {
	float: right;
}

#patient .barcode {
	text-align: center;
	font-family: 'Libre Barcode 128';
	font-size: 26px;
	margin-bottom: -5px;
}
#drug {
	padding: 9px 0 9px 0;
}

#preparation {
	font-size: 1em;
}

.warning {
	color: white;
	background: black;
}
.warning2 {
	background: repeating-linear-gradient(-45deg, #000000, #000000 5px, white 5px, white 10px);
}
.warning3 {
	color: black;
	background: white;
}

#drugname {
	padding: 0 1px 0 1px;
	font-weight: 900;
	font-size: 1.7em;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
}

#preparation .dilution {
	float: right;
	font-size: 0.8em;
}

@page {
	margin: 3px 0 0 0;
	size: auto;
}

#item {
	display: inline-block;
	padding: 7px;
	width: 200px;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}
