* {
  font-family: 'Roboto', sans-serif;
}
html, body {
  height: 100%;
  margin: 0px;
}

h2 {
  background-color: #ccc;
  padding: 15px;
  font-size: large;
}

button, input[type=submit], input[type=reset] {
  color: #ffffff;
  background-color: #0a95ff;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
  position: relative;
  display: inline-block;
  padding: 0.8em;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.15384615;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
button:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #0074cc;
}

#wrapper {
  min-height: calc(100vh - 95px);
}

#header {
  background-image: url(/assets/images/header.jpg);
  background-size: contain;
  height: 160px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 20px 0 0 20px;
  color: #5c5c5c;
}

#header h1 {
  font-size: xxx-large;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px 0;
}

#header h3 {
  font-weight: 100;
  font-style: italic;
}


/* Style tab links */
#nav {
  display: flex;
  background-color: #999;
}

.tablink {
  background-color: #999;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
}

.urg {
  background-color: red;
  margin-left: 40%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding-top: 10px;
  height: 100%;
  width: 1000px;
  margin: auto;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: white;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#footer-container {
  font-size: 0.8em;
  height: 75px;
  padding: 0 10px;
}

fieldset {
  border-color: #a3a3a3;
    border-style: solid;
    border-width: 1px;
}

input, select {
  border-style: none;
    /* border-width: 1px;
    border-color: #222222;
    box-sizing: border-box;
    border-radius: 4px; */
  padding: 8px;
  background-color: #efefef;
}

input[type=checkbox] {
  height: 25px;
  width: 25px;
  border-style: hidden;
  background-color: #d3d3d3;
  vertical-align: middle;
}

.printbtn {
  background-image: url(/assets/images/printer.png); /* 16px x 16px */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 5px;  /* equivalent to 'top left' */
    padding-left: 27px !important;     /* make text start to the right of the image */
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: initial;
  border-style: none;
  vertical-align: middle;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input.chk-btn0, input.chk-btn1 {
  /* position: absolute; */
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 30px -3px 20px;
}

input.chk-btn0 + label, input.chk-btn1 + label {
  /* border: 1px solid grey; */
  padding: 16px 18px 16px 55px;
  cursor: pointer;
  /* border-radius: 5px; */
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 5px !important;
  background-blend-mode: overlay;
  white-space: nowrap;
}

input.chk-btn0 + label {
  background: #ff73ad1c;
  background-image: url(/assets/images/female.png);
}

input.chk-btn1 + label {
  background: #89beff1f;
  background-image: url(/assets/images/male.png);
}

input.chk-btn1:not(:checked) + label:hover {
  background-color: #89beff54;
}

input.chk-btn0:not(:checked) + label:hover {
background-color: #ff73ad36;

}

input.chk-btn0 + label:active,
input.chk-btn0:checked + label, input.chk-btn1 + label:active,
input.chk-btn1:checked + label  {
  background-color: #71c49a7a;
  font-weight: bold;
}

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

button.delbtn {
  background-color: #ff0000;
}

.delbtn:hover {
  background-color: #cd0303;
}

.patientlabel {
  display: inline-block;
  margin: 5px;
}
